streamlit
numpy
pandas
scikit-learn
xgboost
scipy
simpy
statsmodels
prophet
deap
seaborn
torch
plotly
plotly_resampler
requests
joblib
cookiecutter
Flask
holidays
ipykernel
ipython
ipywidgets
jupyterlab
matplotlib
mkdocs
notebook
pip 
python-dotenv
yfinance==0.2.40

